:root {
    --gradient-left-color: #E3F2FD;
    --gradient-right-color: #BBDEFB;
    --primary-color: #90CAF9;
    --background-task: #FAFAFA;
    --button-color: #2E7D32;
    --button-color-hover: #1B5E20;

    --border-radius: 5px;
    --border-input-color: #CCC;
    --margin-main: 2%;

    --font-family: 'Times New Roman', Times, serif;
    --font-size-main: 'large';
    --font-size-form: 'medium';

}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-main);
    background-image: linear-gradient(to right, var(--gradient-left-color), var(--gradient-right-color));
    margin-top: var(--margin-main);
    margin-left: var(--margin-main);
    margin-right: var(--margin-main);
}

.container-left {
    min-height: 100%;
}

.container-right {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: fit-content;
    margin-left: 20px;
    margin-top: 40px;
}

.container-task {
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    background-color: var(--background-task);
}

.title {
    text-align: center;
    border: none;
    border-bottom: 6px solid black;
}

.subtitle {
    text-align: center;
}

.subtitle-task {
    text-align: left;
    margin-top: 10px;
}

input[type=text],
textarea,
select {
    width: 100%;
    padding: 12px;
    resize: vertical;
    border: 1px solid var(--border-input-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

.button {
    width: 100%;
    border: 1px solid var(--button-color);
    border-radius: var(--border-radius);
    font-size: large;
    background-color: var(--button-color);
    color: white;
}

.button:hover {
    background-color: var(--button-color-hover);
    color: white;

}

.form-control,
.form-select {
    font-family: var(--font-family);
    font-size: var(--font-size-form);
}

.icon {
    height: 100px;
}